{% extends 'wardead/base.html' %}
{% load humanize %}
{% block title %} {{ soldier.rank }} {{ soldier.rest }} {{ soldier.last }} - Remembering the Fallen - Omaha.com/wardead{% endblock %}
{% block nav %}
    <div class="nav">

<!--                {% if soldier.pk != 1 %}<a href="{{ previous.name|slugify }}"><img title="Previous" src="/media/wardeadmugs/prev.png"></a>{% endif %}-->
                <a href="/wardead/"><img title="Main page" src="/media/wardeadmugs/grid.png"></a>
<!--                {% if soldier.pk != 112 %}<a href="{{ next.name|slugify }}"><img title="Next" src="/media/wardeadmugs/next.png"></a>{% endif %}-->

        </div>
{% endblock %}

{% block content %}


<div class="main">
    

	<div class="left">
		<div class="main-image">
			<{% if soldier.mugshot %}img src="/media/{{ soldier.mugshot }}"{% else %}img src="/media/wardeadmugs/{{ soldier.service }}.jpg"{% endif %}>
		</div>
		
		<div style="clear:both;"></div>
	
		<h3><a href="mailto:matt.wynn@owh.com">Feedback</a></h3>
	
	</div>
	
	
	<div class="info">

        <h3>{{ soldier.service }}{% if soldier.component %} {{ soldier.component }}{% endif %}, {{ soldier.rank }}</h3>
		<h1>{{ soldier.rest }} {{ soldier.last }}</h1>
        <h2>{{ soldier.homecity }}, {{ soldier.homestate }}</h2>
        <p>{{ soldier.last }} was part of the {{ soldier.unit|title }} supporting {% if soldier.war == "Iraq" %}Operation Iraqi Freedom{% endif %}{% if soldier.war == "Afghanistan" %}Operation 
Enduring Freedom{% endif %}. {% if soldier.gender == "M" %}He{% endif %}{% if soldier.gender == "F" %}She{% endif %} died {{ soldier.date|naturalday }}, from {{ soldier.cause_of_death }}. {{ soldier.last }} was {{ soldier.age }} years old.</p>
        

	{% if soldier.story %}
        <p>
        <a href="/wardead/soldier/{{soldier.name|slugify}}/story"><b>Read {{ soldier.rank }} {{ soldier.last }}'s story &raquo;</b></a>
	</p><br>        
	{% endif %} 

	{% if soldier.quote %}
	<div class="quote">
        <h4>"{{ soldier.quote }}"</h4>
        <h2 style="text-align: right;">- {{ soldier.quotesource }}</h2>
	</div>
	{% endif %}

	
	<div style="clear:both;"></div>


<script>
$(document).ready(function() {
	$(".expand").click (function(){
    	$(".form").slideToggle('slow');
	});
});
</script>


{% endblock %}


